@import "tailwindcss";

@theme {
  --color-cyan: #cee3e9;
  --color-green: #52ffa8;

  --color-grey-dark-1: #4e5d73;
  --color-grey-dark-2: #323a49;
  --color-grey-dark-3: #1f2632;

  --text-shadow-green-glow: 0 0 5px var(--color-green);

  --breakpoint-md: 37.5em; /* 600px */
  --breakpoint-sm: 26.25em; /* 420px */
}

@layer base {
  *,
  *::after,
  *::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
  }

  html {
    box-sizing: border-box;
  }

  body {
    position: relative;
    width: 100vw;
    height: 100vh;
    font-weight: 400;
    line-height: 1.6;
    font-family: "Manrope", sans-serif;
    background-color: var(--color-grey-dark-3);
  }
}

@keyframes pulse-bubble {
  from {
    opacity: 1;
    transform: scale(1);
  }
  to {
    opacity: 0.25;
    transform: scale(0.75);
  }
}
