////////////////////////////////////////////
///  color, media, extend and animation  ///

$color-cyan: #cee3e9;
$color-green: #52ffa8;

$color-grey-dark-1: #4e5d73;
$color-grey-dark-2: #323a49;
$color-grey-dark-3: #1f2632;

$bg-medium: 37.5em; // 600px
$bg-small: 26.25em; // 420px

%absoluteCenter {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@keyframes pulse {
  from {
    opacity: 1;
    transform: scale(1);
  }
  to {
    opacity: 0.25;
    transform: scale(0.75);
  }
}

////////////////////////////////////////////
///      base setting and container      ///

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
}

body {
  position: relative;
  width: 100vw;
  height: 100vh;
  font-weight: 400;
  line-height: 1.6;
  font-family: "Manrope", sans-serif;
  background-color: $color-grey-dark-3;
}

.container {
  @extend %absoluteCenter;

  max-width: 80rem;
  min-height: 50%;
  padding: 4rem;
  text-align: center;

  display: flex;
  flex-direction: column;
  justify-content: space-around;

  background-color: $color-grey-dark-2;
  border-radius: 1.5rem;

  @media only screen and (max-width: $bg-medium) {
    // margin: 0 3rem;
    width: calc(100% - 6rem);
    padding: 4rem 2rem;
  }

  @media only screen and (max-width: $bg-small) {
    width: calc(100% - 3rem);
    padding: 4rem 1.5rem;
  }
}

////////////////////////////////////////////
///     Advice area and divider line     ///

.adviceId {
  color: $color-green;
  text-transform: uppercase;
  letter-spacing: 4px;
  font-size: 1.8rem;

  @media only screen and (max-width: $bg-medium) {
    font-size: 1.5rem;
  }
}

.adviceContent {
  color: $color-cyan;
  font-weight: 800;
  font-size: 3.2rem;

  @media only screen and (max-width: $bg-medium) {
    font-size: 2.8rem;
  }

  @media only screen and (max-width: $bg-small) {
    font-size: 2.4rem;
  }
}

.decorationLine {
  margin: 0 auto;
}

////////////////////////////////////////////
/// animation, button, and error message ///

.error__message {
  display: none;
}

.loading {
  @extend %absoluteCenter;

  width: 10rem;
  display: flex;
  justify-content: space-between;
  align-items: center;

  opacity: 0;

  &__bubble {
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
    background-color: $color-green;

    &-1 {
      animation: pulse 0.4s ease 0s infinite alternate;
    }

    &-2 {
      animation: pulse 0.4s ease 0.2s infinite alternate;
    }

    &-3 {
      animation: pulse 0.4s ease 0.4s infinite alternate;
    }
  }
}

.btn {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, 50%);

  width: 8rem;
  height: 8rem;
  border-radius: 50%;

  display: flex;
  justify-content: center;
  align-items: center;

  background-color: $color-green;
  cursor: pointer;
  transition: all 0.3s;

  &:hover {
    box-shadow: 0 0 3rem rgba($color-green, 0.8);
  }

  &__icon {
    width: 3rem;
    height: 3rem;

    @media only screen and (max-width: $bg-small) {
      width: 2.6rem;
      height: 2.6rem;
    }
  }

  @media only screen and (max-width: $bg-small) {
    width: 7rem;
    height: 7rem;
  }
}

////////////////////////////////////////////
///     Challenge by Frontend Mentor     ///

.attribution {
  color: $color-grey-dark-1;
  text-align: center;
  font-weight: 400;
  font-size: 1.2rem;
  padding-top: 0.5rem;

  a {
    text-decoration: none;
    transition: all 0.2s;

    &:link,
    &:visited {
      color: currentColor;
    }

    &:hover,
    &:active {
      color: $color-green;
      text-shadow: 0 0 0.5rem $color-green;
    }
  }
}
